@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
	// .header__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}
	// .header__btn
	&__btn {
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
	}
}

.menu {	
	padding-right: 15px;
	// .menu__list
	&__list {
		display: flex;
	}
	// .menu__list-item
	&__list-item {
		padding-left: 35px;
		padding-right: 45px;
	}
	// .menu__list-link
	&__list-link {
		@extend %title-font;
		color: rgba(54, 56, 56, 0.9);
		line-height: 22px;
	}
}
.logo {
	margin: 0px auto;
}

//========================================================================================================================================================
.footer {
	// .footer__content
	&__content {
		background-color: #DFDFDF;
		padding: 60px 0 80px;
	}
	// .footer__inner
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	// .footer__info
	&__info {
		width: 540px;
	}
	// .footer__info-title
	&__info-title {
		color: $color-title;
		@extend %title-font;
		margin-bottom: 14px;
		line-height: 23px;
	}
	// .footer__info-text
	&__info-text {
		margin-bottom: 16px;
		max-width: 475px;
	}
	// .footer__info-email
	&__info-email {
		font-weight: 600;
		font-size: 14px;
		line-height: 28px;
		color: #363838;
		margin-bottom: 22px;
		padding-left: 30px;
		display: inline-block;
		position: relative;
		&::before {
			content: '';
			background-image: url(../images/envelope.svg);
			position: absolute;
			top: 9px;
			left: 0;
			width: 16px;
			height: 12px;
		}
	}
	// .footer__form
	&__form {
		display: flex;
	}
	// .footer__form-input
	&__form-input {
		width: 100%;
		padding: 6px 10px 6px 18px;
		border-radius: 21px;
		background-color: transparent;
		border: 1px solid RGBA($color-title, 0.7);

		&::placeholder {
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			line-height: 27;
			font-size: 16px;
			color: #a1a1a1;
		}
	}
	// .footer__form-btn
	&__form-btn {
		cursor: pointer;
		background-color: $color-title;
		border: none;
		color: #fffff0;
		border-radius: 21px;
		font-weight: 600;
		padding: 6px 12px;
		min-width: 160px;
		margin-left: 9px;
	}
	// .footer__social
	&__social {
		width: 125px;
		margin-left: 100px;
		margin-right: auto;
	}
	// .footer__social-item
	&__social-item {
		margin-bottom: 15px;
	}
	// .footer__social-link
	&__social-link {
		padding-left: 28px;
		font-weight: 600;
		font-size: 14px;
		color: #707070;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 3px;
			left: 0;
			width: 16px;
			height: 16px;
		}
	}
	&__social-link--facebook::before{
		background-image: url(../images/facebook.svg);
	}
	&__social-link--instagram::before{
		background-image: url(../images/instagram.svg);
		width: 14px;
		height: 14px;
		top: 4px;
	}
	&__social-link--pinterest::before{
		background-image: url(../images/pinterest.svg);
	}
	&__social-link--whatsapp::before{
		background-image: url(../images/whatsapp.svg);
		width: 14px;
		height: 14px;
	}
	&__social-link--youtube::before{
		background-image: url(../images/youtube.svg);
		width: 18px;
		height: 12px;
		top: 4px;
	}

	// .footer__menu
	&__menu {
		margin-right: 60px;
		width: 125px;
	}
	// .footer__menu-list
	&__menu-list {
	}
	// .footer__menu-item
	&__menu-item {
		margin-bottom: 15px;
	}
	// .footer__menu-link
	&__menu-link {
		font-weight: 600;
		font-size: 14px;
		color: #707070;
	}
	// .footer__copyright
	&__copyright {
		background-color: $color-title;
		color: #a1a1a1;
		text-align: center;
		padding: 42px 0 41px;
	}
}
//===================================================================
.rightside-menu {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	max-width: 694px;
	width: 100%;
	background-color: #fff;
	padding-top: 40px;
	box-shadow: -2px 3px 17px 0px #000;
	transition: all 0.5s ease 0s;
	&.rightside-menu--close {
		transform: translateX(500%);
	}

	// .rightside-menu__close
	&__close {
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
		margin-left: 50px;
		margin-bottom: 60px;
	}
	// .rightside-menu__content
	&__content {
		text-align: center;
		max-width: 485px;
		margin: 0 auto;
	}
	// .rightside-menu__logo
	&__logo {
		display: inline-block;
		margin-bottom: 40px;
	}
	// .rightside-menu__title
	&__title {
		color: $color-title;
		@extend %title-font;
		font-size: 36px;
		line-height: 51px;
		position: relative;
		margin-bottom: 17px;
		padding-bottom: 17px;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			max-width: 252px;
			margin: 0 auto;
			background: #979797;
		}
	}
	// .rightside-menu__text
	&__text {
		margin-bottom: 75px;
	}
	// .rightside-menu__img
	&__img {
		max-width: 485px;
	}
}
//========================================================================================================================================================
.top {
	// .top__inner
	&__inner {
		padding-bottom: 70px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			background-image: url(../images/slider-bg.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: 722px;
			top: 0;
			z-index: -1;
		}
	}
	// .top__slider
	&__slider {
	}
	// .top__slider-item
	&__slider-item {
		display: flex !important;
		justify-content: center;
		align-items: center;
	}
	// .top__slider-img
	&__slider-img {
		margin-left: -14%;
		max-width: 703px;
		height: 815px;
		object-fit: cover;
	}
	// .top__slider-info
	&__slider-info {
		max-width: 645px;
		margin-left: 25px;
	}
	// .top__slider-title
	&__slider-title {
		@extend %title-font;
		color: $color-title;
		font-size: 110px;
		line-height: 134px;
		font-weight: 700;
		padding-bottom: 26px;
		margin-bottom: 26px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 185px;
			height: 1px;
			background-color: #6D7278;;
		}
	}
	// .top__slider-text
	&__slider-text {
		max-width: 585px;
	}
}
//========================================================================================================================================================
.new-collection {
	text-align: center;
	padding: 45px 0 105px;
	// .new-collection__title
	&__title {
		@extend %title-font;
		color: $color-title;
		font-size: 35px;
		line-height: 51px;
		padding-bottom: 25px;
		margin-bottom: 25px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			width: 250px;
			height: 1px;
			bottom: 0;
			margin: 0px auto;
			background: #6D7278;
		}
	}
	// .new-collection__text
	&__text {
		max-width: 730px;
		margin: 0px auto 30px;
	}
}
//==============================================================
.collection {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 30px;
	// .collection__item
	&__item {
		position: relative;		
		&:hover {
			.collection__info {
				opacity: 1;
			}
		}
	}
	// .collection__img
	&__img {
		min-height: 350px;
		object-fit: cover;
	}
	// .collection__info
	&__info {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#fff, .7);
		padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: all 0.3s ease 0s;
	}
	// .collection__info-title
	&__info-title {
		@extend %title-font;
		font-size: 20px;
		line-height: 25px;
		color: $color-title;
		padding-bottom: 19px;
		margin-bottom: 19px;
		position: relative;		
		&::after {
			content: '';
			bottom: 0;
			position: absolute;
			height: 1px;
			background-color: #6D7278;
			margin: 0px auto;
			left: 0;
			right: 0;
			width: 80%;
		}
	}
	// .collection__info-text
	&__info-text {
		font-weight: 600;
		font-size: 14px;
		color: #707070;
	}
}
//========================================================================================================================================================
.call-to-action {
	padding: 170px 0 155px;
	background-image: url(../images/call-to-action-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	//min-height: 600px;
	// .call-to-action__title
	&__title {
		@extend %title-font;
		max-width: 730px;
		color: $color-title;
		font-size: 60px;
		line-height: 80px;
		padding-bottom: 22px;
		margin-bottom: 22px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			width: 200px;
			background: #6D7278;
		}
	}
	// .call-to-action__text
	&__text {
		max-width: 540px;
	}
}
//========================================================================================================================================================
.how-it-works {
	padding: 80px 0 30px;
	// .how-it-works__title
	&__title {
		@extend %title-font;
		text-align: center;
		color: $color-title;
		font-size: 36px;
		line-height: 51px;
		margin-bottom: 40px;
	}
	// .how-it-works__items
	&__items {
	}
	// .how-it-works__items-box
	&__items-box {
		display: flex;
		align-items: flex-end;
		border-bottom: 2px solid rgba($color-title, .7);
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: $color-title;
		}
	}
	// .how-it-works__item
	&__item {
		width: 250px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		height: 100%;
	}
	// .how-it-works__item--1
	&__item--1 {
		padding-bottom: 38px;
	}	
	// .how-it-works__item--2
	&__item--2 {
		padding-bottom: 38px;
		margin-left: 317px;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 20px;
			width: 2px;
			background: rgba($color-title, .7);
			
		}
	}
	// .how-it-works__item--3
	&__item--3 {
		padding-top: 38px;
		margin-left: 305px;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 20px;
			width: 2px;
			background: rgba($color-title, .7);
		}
	}	
		// .how-it-works__item-img
	&__item-img {

	}
	// .how-it-works__item-title
	&__item-title {
		margin-left: 13px;
		color: $color-title;
		@extend %title-font;
	}
	// .how-it-works__item-text
	&__item-text {
		margin-top: 13px;
	}
}





