@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
	// .header__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 120px;
	}
	// .header__btn
	&__btn {
		background-color: transparent;
		border: none;
		padding: 0;
		cursor: pointer;
	}
}

.menu {	
	padding-right: 15px;
	// .menu__list
	&__list {
		display: flex;
	}
	// .menu__list-item
	&__list-item {
		padding-left: 35px;
		padding-right: 45px;
	}
	// .menu__list-link
	&__list-link {
		@extend %title-font;
		color: rgba(54, 56, 56, 0.9);
		line-height: 22px;
	}
}
.logo {
	margin: 0px auto;
}


